/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    transition: all .2s ease-out;
    text-decoration:none;
}
/* body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration:none;
   
    margin:0;
    padding:0;

} */
/* body {

    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */
 html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-padding: 7rem;
    scroll-behavior: smooth;
 }
.heading{
    text-align: center;
    padding: bottom;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}
.heading span{
    text-transform: uppercase;
    color: var(--black);
}
.btn{
    
    margin-top: 2rem;
    padding: .75rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: #008AB3;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn span{
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: #008AB3;
    color: #fff;
    margin-left: .5rem;

}
.btn:hover {
    background:#008AB3 ;
    color: #fff;

}
.btn:hover span{
    color: #008AB3;
    background: #fff;
    margin-left: 1rem;
}

.header{
    padding:2rem 4%;
    position: sticky;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    
}
.header .logo{
    font-size: 2.5rem;
    color: #008AB3;
    text-decoration: none;
}
.header .logo i{
    color: #E94A2E;
}
.header .nav{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header .nav a{
    font-size: 1.7rem;
    color: var(--light-color);
    
    text-decoration: none;
}
.header .nav .dropdown {
    position: relative;
    display: inline-block;
}

.header .nav .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: var(--box-shadow);
    z-index: 1;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 0;
}

.header .nav .dropdown .dropdown-menu a {
    color: var(--light-color);
    padding: 1rem 1.5rem;
    text-decoration: none;
    display: block;
    font-size: 1.7rem;
}

.header .nav .dropdown .dropdown-menu a:hover {
    color: #008AB3;
}

.header .nav .dropdown:hover .dropdown-menu {
    display: block;
}

.login{
    background-color:#9fe9ff;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin: auto;
}
.login:hover{
    background-color: #008AB3;
    font-size: 18px;
}
.header .nav-link .nvlink:hover{
    color: #008AB3;
    font-size: 20px;
}
#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:#000000;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}
.form{
    
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.form-container {
    
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;

}
.form-container a{
    font-size: 16px ;
}


h1 {
    --s: 0.11em;   /* the thickness of the line */
    --c: #0d7dfd; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
    display: inline-block;
  }
  h1:hover {--_p: 100%}
   
  body {
    text-align: center;
    
  }
  h1 {
    font-family: system-ui, sans-serif;
    font-size: 3rem;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 35px;
}



#patientName{
    border-radius: 20px;
}
#doctorFeedback{
    border-radius: 20px;
}
#medicinePrescribed{
    border-radius: 20px;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    
}
.form-container h2{
    font-size: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}



/****/

button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
    margin: 5% auto; 
    display: block; 
    width: 70%;
    margin-top: 60px;
  
    
   }

   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(202, 94%, 19%) 0%,
       hsl(202, 94%, 21%) 8%,
       hsl(202, 94%, 28%)  92%,
       hsl(202, 94%, 19%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 100px;
    border-radius: 12px;
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(0, 8, 8);
    background: hsl(202, 100%, 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
@media (max-width: 768px) {
    .front {
        padding: 1em 15%; /* Adjusted padding for smaller screens */
        font-size: 1.2rem; /* Adjusted font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .front {
        padding: 0.8em 20%; /* Further adjusted padding for very small screens */
        font-size: 1rem; /* Further adjusted font size for very small screens */
    }
}
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }
/****/   


/* media queries*/
@media(max-width:450px){

    html{
        font-size:55%
    }
    .header{
        padding:2rem;
    }
    section{
        padding: 2rem;

    }
} 
@media(max-width:768px){
    #menu-btn{
        display: initial;
    }
    .header .nav{
        position: absolute;
        top:115%;right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }
    .header .nav.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    
    }
    .header .nav a {
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }

}
@media(max-width:991px){

    html{
        font-size:50%
    }
}

/* Responsive h2 */
@media (max-width: 768px) { 
  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
   }
}
@media (max-width: 450px) { 
  h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    }
}


















/*letter waveing code*/
.wave-group {
    position: relative;
  }
  
  .wave-group .input {
    font-size: 15px;
    padding: 10px 10px 10px 6px;
    display: block;
    width: 80%; /* Adjusted width for responsiveness */
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    margin-bottom: 30px; 
    margin-left: 35px;
     
  }
  
  .wave-group .input:focus {
    outline: none;
  }
  
  .wave-group .label {
    color: #6d6c6c;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 9px;
    top: 5px;
    display: flex;
    margin-left: 35px;
     
  }
  
  .wave-group .label-char {
    transition: 0.3s ease all;
    transition-delay: calc(var(--index) * .05s);
  }
  
  .wave-group .input:focus ~ label .label-char,
  .wave-group .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 12px;
    color: #0681b9;
  }
  
  .wave-group .bar {
    position: relative;
    display: block;
    width: 83%; /* Adjusted width for responsiveness */
    margin-left: 35px;
    
  }
  
  .wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2.5px;
    width: 0;
    bottom: 29px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .wave-group .bar:before {
    left: 50%;
  }
  
  .wave-group .bar:after {
    right: 50%;
  }
  
  .wave-group .input:focus ~ .bar:before,
  .wave-group .input:focus ~ .bar:after {
    width: 50%;
  }
/*letter waveing code*/


/*selection box*/
.select-box select {
    height: 100%;
    width: 83%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1.6rem;
    margin-right: 70px;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 35px;
  }
/*selection box*/


.file-upload {
    margin-bottom: 10px; /* Adjust as needed */
    margin-right: 70px;
    margin-left: 35px;
    margin-top: 15px;
}

/* Style for the label */
.wave-label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
    margin-right: 200px;
}

/* Style for the input */
.wave-input {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

/* Optional: Style for file input button */
.wave-input[type="file"] {
    cursor: pointer;
}  
